name: Sync and Build

on:
  schedule:
    - cron: '0 0 * * *' 
  workflow_dispatch:   

jobs:
  sync-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout target repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Sync Upstream
        uses: aormsby/Fork-Sync-With-Upstream-action@v3.4.1
        with:
          target_sync_branch: master
          target_repo_token: ${{ secrets.GITHUB_TOKEN }}
          upstream_sync_repo: HibiscusMC/HibiscusCommons 
          upstream_sync_branch: master
          test_mode: false

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build
        env:
          HMCC_INCLUDE_HASH: true

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: HibiscusCommons-Sync-Build
          path: output/*.jar 
          retention-days:
